html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box
}

.mySlides1,
.mySlides2 {
  display: none
}

img {
  vertical-align: middle;
}

.header {
  background-image: url('webbackground.png');
}

.hero-section {
  background-color: #DFE7FD;
}

body {
  font-family: 'Sigmar', cursive;
  background-color: #DFE7FD;
  color: #333333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  /*font-family: 'Sigmar', cursive;*/
  font-family: 'Gravitas One', cursive;
  color: #7D10BA;

  margin: 0;
  font-size: 45px;
  text-shadow: 2px 2px 3px #E5BEEC, 1px 3px 25px #917FB3, 2px 1px 5px #2A2F4F;
}

h2 {
  /*font-family: 'Sigmar', cursive;*/
  /*color: #E5BEEC;*/
  color: #3F0A5D;

  /*font-family: 'Gravitas One', cursive;*/
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px 2px white, 0 1px #E5BEEC, 1px 0 #FFFBFB, 0 -2px black;

}

p {
  /*font-family: 'Karla', sans-serif;*/
  font-family: 'Old Standard TT', serif;
  font-size: 18px;
  font-weight: 800;
}

h3 {
  color: #3F0A5D;
  font-size: 28px;
  text-shadow: -1px 5px #E5BEEC, 0 1px white, 1px 0 #2A2F4F, 0 -1px black;
  font-family: 'Dancing Script', cursive;
}


.grid-item p {
  font-size: 17px;
}

h4 {
  color: #3F0A5D;
  font-family: 'Sigmar', cursive;
  font-size: 30px;
  text-shadow: -1px 5px #E5BEEC, 0 1px white, 1px 0 #2A2F4F, 0 -1px black;

}

h5 {

  font-size: 30px;
  font-weight: 900;
  margin: auto;
  color: #917FB3;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.modal-footer button {
  background-color: #6c5ce7;
  color: white;
}

table {
  margin-left: 9px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 5px solid purple;
  background-color: #E5BEEC;
  font-family: 'Old Standard TT', serif;


}

th,
td {
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: #6c5ce7;

}

tr:nth-child(even) {
  background-color: #dbc7ff
}

@media screen and (max-width: 600px) {
  .hero-section img {
    width: 100%;
  }

  table {
    max-width: 10px;
  }
}

.footer {
  background-color: #781CAC;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.call-to-action {
  background-color: #3F0A5D;
  padding: 30px 0;
  text-align: center;
}


.hero-section a {
  color: #ffffff;
  font-family: 'Sigmar', cursive;
  background-color: #7D10BA;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navbar {
  background-color: #6c5ce7;
  font-family: 'Sigmar', cursive;
}



.header {
  /*background-color: #6c5ce7;*/
  background-image: url('pictures/2.png');
  padding: 20px;
  text-align: center;
}





.navbar-brand {
  color: #ffffff;
  font-weight: bold;

}

.navbar-nav .nav-link {
  color: #ffffff;
}

.hero-section {
  background-color: #B3B3F1;
  padding: 50px 40px;
  text-align: center;
}



p {
  margin: 20px 0;
}



.call-to-action h2 {
  color: #ffffff;
  font-size: 28px;
}

.call-to-action p {
  color: beige;
  margin: 10px 0;
  font-family: 'Old Standard TT', serif;

}



.footer p {
  margin: 0;
  font-family: 'Old Standard TT', serif;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;

}

.wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none;
}

.footer a, .call-to-action a{
  font-family: 'Sigmar', cursive;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: purple;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
